<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~     Copyright (c) 2018-2019 Green Button Alliance, Inc.
  ~
  ~     Portions copyright (c) 2013-2018 EnergyOS.org
  ~
  ~     Licensed under the Apache License, Version 2.0 (the "License");
  ~     you may not use this file except in compliance with the License.
  ~     You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~     Unless required by applicable law or agreed to in writing, software
  ~     distributed under the License is distributed on an "AS IS" BASIS,
  ~     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~     See the License for the specific language governing permissions and
  ~     limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />

    <mvc:default-servlet-handler />

    <import resource="classpath:spring/oauth-AS-config.xml"/>
    <import resource="classpath:spring/oauth-RS-config.xml"/>
    <import resource="classpath:spring/business-config.xml"/>
    <import resource="classpath:spring/data-config.xml"/>

    <context:component-scan base-package="org.greenbuttonalliance.espi.datacustodian.web"/>
    <context:component-scan base-package="org.greenbuttonalliance.espi.common.repositories"/>
    <context:component-scan base-package="org.greenbuttonalliance.espi.common.service"/>
    <context:component-scan base-package="org.greenbuttonalliance.espi.datacustodian.utils"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/WEB-INF/jsp/"></property>
                <property name="suffix" value=".jsp"></property>
            </bean>
        </property>
        <property name="defaultViews">
        	<!-- TODO: Migrate to MappingJackson2JsonView -->
            <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
                <property name="extractValueFromSingleKeyModel" value="true" />
            </bean>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10000000000"/>
    </bean>
</beans>