<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>contextAttribute</param-name>
			<param-value>org.springframework.web.servlet.FrameworkServlet.CONTEXT.spring</param-value>
		</init-param>
	</filter>
	
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>org.energyos.espi.datacustodian.web.filter.CORSFilter</filter-class>
      
		<!-- Allow "origin" header -->
    	<init-param>  
    		<param-name>allow.origin</param-name>
    		<param-value>*</param-value>
    	</init-param>
        
<!--    CORSFilter Initialization parameters (for documentation only - not required)
     
    	<init-param>  // Allow origin to use regex definition
     		<param-name>allow.origin.regex</param-name>
        	<param-value>cfg.allow.origin.regex.toString()</param-value>
    	</init-param>
    	
    	<init-param>  // Define optional CORS response headers
    		<param-name>header: Access-Control-Allow-Origin</param-name>
    		<param-value>*</param-value>
    	</init-param>
    	
    	<init-param>  // Allow CORS headers to be exposed
    		<param-name>expose.headers</param-name>
    		<param-value>cfg.expose.headers.toString()</param-value>
    	</init-param>
    	
    	<init-param>  // Allow Credential support
    		<param-name>allow.credentials</param-name>
    		<param-value>true</param-value>
    	</init-param>
-->         
             
    </filter>
    
    <filter>
    	<filter-name>StringToLongFilter</filter-name>
    	<filter-class>org.energyos.espi.common.utils.StringToLongFilter</filter-class>	
    </filter>

    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
    	<filter-name>StringToLongFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--         <init-param> -->
<!--             <param-name>contextConfigLocation</param-name> -->
<!--             <param-value>/WEB-INF/spring-servlet.xml</param-value> -->
<!--         </init-param> -->

        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
</web-app>
